div.hosts {
    display: inline-block;
}

div.row {
    padding: 15px 50px 0px 50px;
}
table#last_update {
    padding-left: 50px;
}
table.dataTable thead, tfoot {
    background-color: rgba(82,82,90,0.6);
}
body {
    padding-left: 60px;
    padding-right: 60px;
}
table.dataTable td {
    padding-left: 10px;
    padding-right: 10px;
    //max-width: 15px;
}
tr.even {
    background-color: #CCCCCC;
}
table#telemetry tr:hover {
    background-color: #999999;
    font-weight: bold;
}
table#telemetry td {
    text-align: right;
}
td.dl_longterm {
    background-color: hsla(0,100%,38%,0.5);
}
td.dl_months {
    background-color: hsla(0,100%,50%,0.6);
}
td.dl_month {
    background-color: hsla(25,100%,50%,0.6);
}
td.dl_week {
    background-color: hsla(40,100%,50%,0.6);
}
td.dl_emergent {
    background-color: hsla(55,100%,50%,0.6);
}
td.dl_future {
    background-color: rgba(0,193,127,0.6);
}
td.cq_high {
    background-color: rgba(0,193,127,0.6);
}
td.cq_low {
    background-color: rgba(0,255,125,0.5);
}
td.left_align {
    text-align: left;
}
div#telemetry_filter td {
    display: inline;
}
td.is_up {
    background-color: hsla(103,88%,47%,1);
    text-align:center;
    vertical-align: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}
td.is_down {
    background-color: hsla(0,100%,38%,0.5);
    text-align:center;
    vertical-align: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}